* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    margin: 0 auto;

}

nav {
    padding: 2rem;
    font-family: sans-serif;

}

.nav-con {
    display: flex;
    justify-content: space-between;
}

.logo a {
    font-size: 2rem;
    color: white;
    text-decoration: none;
}

.menu {
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    margin: 0 1rem;
}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

body {
    background-color: black;
    color: white;
}

body p {
    color: #D4C214;
    font-family: sans-serif;
}

.logo a{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: overline;
    text-decoration-color:#D4C214 ;
}

.header a {}

.welcome-text {
    font-family: sans-serif;
    text-align: center;
    padding: 3rem;
    font-size: 28px;
}

.welcome-text a {
    text-decoration: none;
    color: #D4C214;
}